services:
  propraetor:
    image: ghcr.io/shoenot/propraetor:latest
    command:
      - gunicorn
      - core.wsgi:application
      - --bind
      - "127.0.0.1:9000"
      - --workers
      - "3"
      - --timeout
      - "120"
      - --access-logfile
      - "-"
      - --error-logfile
      - "-"
    ports:
      - "127.0.0.1:9000:9000"
    volumes:
      - sqlite_data:/app/db
      - static_files:/app/staticfiles
      - media_files:/app/media
    env_file:
      - .env
    restart: unless-stopped

volumes:
  sqlite_data:
  static_files:
  media_files:
