services:
  propraetor:
    image: ghcr.io/shoenot/propraetor:latest
    volumes:
      - sqlite_data:/app/db
      - static_files:/app/staticfiles
      - media_files:/app/media
    env_file:
      - .env
    restart: unless-stopped

volumes:
  sqlite_data:
  static_files:
  media_files:
