services:
  propraetor:
    command:
      - gunicorn
      - core.wsgi:application
      - --bind
      - "127.0.0.1:9000"
      - --workers
      - "3"
      - --timeout
      - "120"
      - --access-logfile
      - "-"
      - --error-logfile
      - "-"
    ports:
      - "127.0.0.1:9000:9000"
